@media screen and (min-width:  480px) {
  .standard {
    display: flex;
    justify-content: space-between;
    &__title {
      font-family: 'Montserrat';
      font-size: 24px;
      line-height: 146%;
      color: black;
    }
  
    &__sub-title {
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 16px;
      line-height: 158%;
      color: grey;
    }
  
    &__image {
      width: 352px;
      height: 282px;
      border-radius: 20px;
    }
  
    &__link {
      cursor: pointer;
      color: blue;
    }
  }
  
  .line {
    margin-top: 142px;
    border: 1px solid lightgray;
    width: 1110px;
    height: 0px;
    position: relative;
    right: 50px;
  }
  
  .bottom {
    &__list {
      margin-left: 40px;
      flex-wrap: wrap;
      margin-top: 70px;
      display: flex;
      justify-content: space-evenly;
    }
  
    &__item {
      display: flex;
    }
  

  
    &__title {
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 36px;
      line-height: 146%;
      color: #000;
    }
  
    &__sub-title {
      position: relative;
      right: 40px;
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 16px;
      line-height: 158%;
      color: grey;
    }
  
  }
  
  .line{
      margin-top: 142px;
      background-color: lightgray;
  width: 1110px;
  height: 1px;
  }
  
  .bottom{
  
      &__list{
          flex-wrap: wrap;
          margin-top: 70px;
  display: flex;
  justify-content: space-evenly;
      }
  
      &__item{
          display: flex;
      }
  
      &__title{
  
          font-family: 'Montserrat';
  font-weight: 400;
  font-size: 36px;
  line-height: 146%;
  color: #000;
      }
  
      &__sub-title{
          position: relative;
          right: 40px;
          font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 158%;
  color: grey;
      }
  
  }
  
}


@media screen and (min-width:768px) {
  .standard {
    display: flex;
   
    &__title {
      font-family: 'Montserrat';
font-weight: 700;
font-size: 30px;
line-height: 146%;
color: black;
    }
  
    &__sub-title {
      margin-top: 20px;
      margin-bottom: 42px;
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 14px;
      line-height: 158%;
      color: grey;
    }
  
    &__image {
      width: 500px;
      height: 400px;
      border-radius: 20px;
    }
  
    &__link {
      margin-top: 20px;
      font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
text-decoration: underline;
text-decoration-skip-ink: none;
color: var(--accent);
      cursor: pointer;
      color: blue;
    }
  }
  
  .line {
    border: 1px solid lightgray;
    width: 1110px;
    height: 0px;
    position: relative;
    right: 50px;
  }
  
  .bottom {
    &__list {
      margin-left: 40px;
      flex-wrap: wrap;
      margin-top: 70px;
      display: flex;
      justify-content: space-evenly;
    }
  
    &__item {
      display: flex;
    }
  

  
    &__title {
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 36px;
      line-height: 146%;
      color: #000;
    }
  
    &__sub-title {
      position: relative;
      right: 40px;
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 16px;
      line-height: 158%;
      color: grey;
    }
  
    &__image {
      margin-top: 12px;
      margin-right: 10px;
      width: 30px;
      height: 28px;
    }
  }
  
  .line{
      margin-top: 142px;
      background-color: lightgray;
  width: 1110px;
  height: 1px;
  }
  
  .bottom{
  
      &__list{
          flex-wrap: wrap;
          margin-top: 70px;
  display: flex;
  justify-content: space-evenly;
      }
  
      &__item{
          display: flex;
      }
  
      &__title{
  
          font-family: 'Montserrat';
  font-weight: 400;
  font-size: 36px;
  line-height: 146%;
  color: #000;
      }
  
      &__sub-title{
          position: relative;
          right: 40px;
          font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 158%;
  color: grey;
      }
  
      &__image{
          margin-top: 12px;
          margin-right: 10px;
          width: 30px;
          height: 28px;
      }
  }
}

@media screen and (min-width:1200px) {
  

.standard {
  display: flex;


  &__title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 36px;
    line-height: 146%;
    color: black;
  }

  &__sub-title {
    margin-top: 60px;
    margin-bottom: 42px;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    line-height: 158%;
    color: grey;
  }

  &__image {
    position: relative;
    left: 280px;
    top: 280px;
    border-radius: 30px;
    width: 500px;
    height: 400px;
  }

  &__link {
    cursor: pointer;
    color: blue;
  }
}

.line {
  
  border: 1px solid lightgray;
  width: 1110px;
  height: 0px;
  position: relative;
  right: 50px;
  
}

.bottom {
  &__list {
    margin-left: 40px;
    flex-wrap: wrap;
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
  }

  &__item {
    display: flex;
  }



  &__title {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 36px;
    line-height: 146%;
    color: #000;
  }

  &__sub-title {
    position: relative;
    right: 40px;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    line-height: 158%;
    color: grey;
  }

  &__image {
    margin-top: 12px;
    margin-right: 10px;
    width: 30px;
    height: 28px;
  }
}

.line{
    margin-top: 142px;
    background-color: lightgray;
width: 1110px;
height: 1px;
}

.bottom{

    &__list{
        flex-wrap: wrap;
        margin-top: 70px;
display: flex;
justify-content: space-evenly;
    }

    &__item{
        display: flex;
    }

    &__title{

        font-family: 'Montserrat';
font-weight: 400;
font-size: 36px;
line-height: 146%;
color: #000;
    }

    &__sub-title{
        position: relative;
        right: 40px;
        font-family: 'Montserrat';
font-weight: 400;
font-size: 16px;
line-height: 158%;
color: grey;
    }

    &__image{
        margin-top: 12px;
        margin-right: 10px;
        width: 30px;
        height: 28px;
    }
}
}





