// великий хедер

@media screen and (min-width: 1200px) {
  .header__list {
    content: "";
    order: 1;
    display: flex;
    margin-bottom: 40px;
    margin-left: 602px;
  }
  .header__nav {
    order: 1;
    border-bottom: 1px solid  #a1a1a1;
  }
  .header__link {
    color: $primary-text-color;
    font-weight: 500;
    font-size: 16px;
    margin-right: 40px;
    &:hover{
        color: #dadada;
    }
  }
  .header__button {
    background-color: $button-color;
    border-radius: 30px;
    width: 200px;
    height: 45px;
    border: none;
    color: $primary-text-color;
    margin: 0 auto;
    margin-top: 50px;
    cursor: pointer;
    &:hover{
        background-color: #4078e7;
    }
  }
  .header{
    background-color: gray;
    padding-top: 40px;
    padding-bottom: 335px;
  }
  .header__text {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: $primary-text-color;
    margin-top: 220px;
  }
  .header__title {
    font-weight: 800;
    font-size: 48px;
    line-height: 134%;
    text-align: center;
    color: $primary-text-color;
    margin-top: 20px;
  }
  .header__button-wrap{
    display: flex;
    justify-content: center;
  }
}
