$primary-text-color:#fff;
$title-color:#323232;
$button-color:#4985FF;
$text-color:#999999;
$subtitle-color:#000000;
$background-benefits:#F6F6F8;
$second-title: #32323232;
$background-gradient:linear-gradient(90deg, #504dc2 0%, #5f12d0 100%);